body {
    font-family: 'Tan Mon Cheri', serif;
    margin: 0;
    padding: 0;
    background-color: #817276;
    color: #231f20;
    scroll-behavior: smooth; /* Smooth scrolling */
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #231f20;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    border-bottom: 2px solid #ffffff;
}

header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.header-text {
    padding-inline-end: 48px;
    text-align: center;
    font-size: 16px; 
    flex-grow: 1; 
    margin: 0 20px; 
    word-wrap: break-word;   
}

@media (max-width: 760px) {
    .header-text {
        font-size: 11px;
        margin: 0 10px; 
    }
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    margin: 20px;
}

h2 {
    color: #231f20;
    border-bottom: 2px solid #231f20;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    color: #231f20;
    border-bottom: 2px solid #231f20;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 180px;
}

ul {
    list-style: none;
    padding: 0;
    color: #231f20;
}

.project {
    background-color: #2e2c2b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.project h3 {
    margin: 0;
    color: #ffffff;
}

.project p {
    color: #ffffff;
}

.project a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #231f20;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #231f20;
}

form {
    padding-right: 20px;
    box-sizing: border-box;
}

form button {
    background-color: #231f20;
    color: #ffffff;
    border: 1px solid #231f20;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

form button:hover {
    background-color: #383133;
    color: #231f20;
}

footer {
    background-color: #383133;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.download-button {
    display: inline-block;
    background-color: #231f20;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    border: 1px solid #231f20;
}

.download-button:hover {
    background-color: #383133;
    color: #231f20;
}

/* Style the scroll-to-top button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #231f20;
    color: white;
    padding: 10px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    display: block; /* Always visible */
    text-decoration: none;
}


